{% extends 'base.jinja' %}

{% block head %}
<link href='/css/my_contact_us.css' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block context %}
<br>
<div id='div_left'>
	<div class='title1'><a href='/main/about_us'>关于我们</a></div>
	<div class='title2'><a href='/main/about_us'>公司介绍</a></div>
	<div class='title2'><a href='/main/speech'>董事长致辞</a></div>
	<div class='title1'>联系我们</div>
</div>
<span>公司名称： </span><br><br>
<span>联系电话： </span><br><br>
<span>传   真： </span><br><br>
<span>地   址： </span>
{% endblock %}
